*.m4
*.cache
compile
config.*
configure
*.list
depcomp
install-sh
libtool
ltmain.sh*
Makefile
Makefile.in
missing
stamp-*
sbd
*.8
*.o
*.service
sbd.sh
sbd.sysconfig
*~
*.swp
*.patch
*.diff
*.orig
*.rej
*.rpm
*.pod
*.tar.*
!.copr/Makefile
sbd-*/
.deps
test-driver
sbd.pc
build.counter
